@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Vazirmatn", sans-serif;
    background-color: #ffffff;
  }
  body {
    direction: rtl;
  }
  html.dark {
    background-color: #2a2b2e;
  }
}
